@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    min-width: 320px;
    font-family: Roboto, serif;
    background-image: url(/source/imges/background.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

.imges-carusel img {
    height: 600px;
}

.photo-title {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-title img {
    width: 100%;
    height: 90vh;
    position: absolute;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.photo-text {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.274);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

/* Каталог */
.card-img {
    object-fit: cover;
    height: 100%;
    /* Для первых двух карточек */
}

.h-50 .card-img {
    height: 100%;
    /* Заполнит 50% высоты колонки */
}

.card-title {
    background-color: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(6px);
    border-radius: 5px;
}

.text-blur {
    background-color: rgba(0, 0, 0, 0.664);
    backdrop-filter: blur(6px);
    border-radius: 5px;
}

/* .card-img {
    object-fit: cover;
    min-height: 200px;
} */

@media (min-width: 768px) {
    .card-img {
        min-height: 300px;
        /* Высота для планшетов и десктопов */
    }


}

@media (max-width: 766px) {
    .right-colon {
        width: 100%;
    }
}

/* @media (max-width: 510px) {
    #navbar-top-sticky-mobile {
        display: block;
    }

    #navbar-top-sticky,
    #navbar-top {
        display: none;
    }
}

@media (min-width: 510px) {
    #navbar-top-sticky-mobile {
        display: none;
    }

    #navbar-top-sticky,
    #navbar-top {
        display: block;
    }
} */